* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    background: #CE837B;
}

/*NAVIGATION BAR*/

header {
    
    padding-left: -15vw;
}

.logo {
    font-size: 7vw;
    font-family: 'Pacifico', cursive;
    color: #F7C8BB;
    
}

nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-items {
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;

    width: 16vw;
    height: 3vw;

    background: #FDE2DA;
    border: 5px solid #FFC8B8;
    box-sizing: border-box;
    border-radius: 100px;

    color: #DB9986;

    justify-content: center;
}

.nav-items:hover {
    width: 17vw;
    
}

.navbar li {
    list-style: none;
}

.about {
    font-size: 3.5vw;
    font-weight: bolder;
}

.work {
    font-size: 2.3vw;
    font-weight: bolder;
    padding-top: .5vw;
}

.contact {
    font-size: 2.3vw;
    font-weight: bolder;
    padding-top: .5vw;
    
}


/*CONTENT*/

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
}

.grid-item {
    display: grid;
}

.grid-item-1 {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    color: #FDE2DA;;
    -webkit-text-stroke-width: .3vw;
    -webkit-text-stroke-color: #A85740;

    width:50vw;
    height: 20vw;
    
    margin-left: 15vw;
    margin-top: 5vw;

    

    text-align: center;
}

.grid-item-2 {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    color: #FDE2DA;;
    -webkit-text-stroke-width: .07vw;
    -webkit-text-stroke-color: #A85740;
    font-size: 2vw;

    width: 40vw;

    margin-top: 25vw;
}

.grid-item-3 {
    display: grid;
    margin-left: 20vw;
}

#hi-text {
    position: sticky;
    font-size: 10vw;
}

#im-text {
    position: sticky;
    font-size: 10vw;
}

#im-text::before {
    content: "\a";
    white-space: pre;
}

#main-photo {
    height: 40vw;
    width: auto;
}